{% extends "starter_template.html" %}

{% block content %}

<div>
    <h3>{{pet.name|capfirst}}</h3>
    <p>pet.species</p>
    {% if pet.breed %}
    <p>Breed: {{pet.breed}}</p>
    {% endif%}
    {% if pet.age %}
    <p>Age: {{pet.age}}</p>
    {% endif%}
    {% if pet.sex %}
    <p>Sex: {{pet.sex}}</p>
    {% endif%}
    {% if pet.vaccinations.all %}
    <p>Vaccinated for:</p>
    <ul>
        {% for vaccine in pet.vaccinations.all %}
        <li>{{vaccine.name}}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <p>Admitted by: {{pet.admitter}}</p>
    <p>Admitted on: {{pet.admission_date|date:"M d Y"}}</p>
    <p>{{pet.description}}</p>
</div>

{% endblock content %}