{% extends 'pizza/base.html' %}
{% block content %}
{% load widget_tweaks %}
<h1>Order a Pizza</h1>
<form action="{% url 'order' %}" method="POST">
    {% csrf_token %}
    {% for field in pizza_form %}
    <div class="form-group">
        {{field.errors}}
        {{field.label_tag}}
        {% render_field field class="form-control" %}
    </div>
    {% endfor %}
    <input type="submit" value="Order Pizza">
</form>
{% if order_response %}
<h2>{{order_response}}</h2>
{% endif %}
<br>
{% if created_pizza_id %}
<h3><a href="{% url 'edit_order' created_pizza_id %}">Edit Your Order</a></h3>
{% endif %}
<br>
<span>Want more than One Pizza</span>
<form action="{% url 'multiple_pizzas' %}" method="GET">
    {{multiple_pizza_form.as_p}}
    <input type="submit" value="Get Pizzas">
</form>
{% endblock %}