<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nadia's Garden</title>
</head>

<body>
    <h1>Order a Pizza</h1>
    <form action="{% url 'order' %}" method="POST">
        {% csrf_token %}
        <label for="topping1">Topping 1</label>
        <input id="topping1" type="text" name="topping1">
        <label for="topping2">Topping 2</label>
        <input id="topping2" type="text" name="topping2">
        <label for="pizza-size">Pizza size</label>
        <select id="pizza-size" name="pizza-size">
            <option value="small">Small</option>
            <option value="medium">Medium</option>
            <option value="large">Large</option>
        </select>
        <input type="submit" value="Order Pizza">
    </form>
</body>

</html>