{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>homepage</title>
</head>

<body>
    <h1>This is the homepage</h1>
    <form action="{% url 'index' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input name="submit" type="submit" value="HASH">
    </form>
    <h2 id="quick-hash"></h2>
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script>
        $('#id_text').keyup(() => {
            let text = $('#id_text').val();
            $.ajax({
                url: '/quick_hash',
                data: {
                    'text': text
                },
                dataType: 'json',
                success: (data) => {
                    $('#quick-hash').text(data['json']);
                }
            });
        });
    </script>
</body>

</html>